html {
  font-size: 26.6667vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
#header {
  background-color: #006699;
  display: flex;
  height: .45rem;
  width: 100%;
  z-index: 9999;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .left a {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: .45rem;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header .center form {
  margin-top: .05rem;
}
#header .center form input {
  background-color: #fff;
  height: .35rem;
  text-align: center;
  font-size: .14rem;
  margin-bottom: 0;
}
#header .right {
  width: .45rem;
  height: .45rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right a {
  color: #fff;
}
#footer {
  background-color: #006699;
  width: 100%;
  height: .45rem;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
}
#footer .mui-row > div a {
  height: .45rem;
  color: #fff;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .mui-row > div a.active {
  color: orange;
}
#footer .mui-row > div a i {
  display: block;
}
#footer .mui-row > div a span {
  display: block;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: .14rem;
  line-height: .14rem;
}
#main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
#main .category-left {
  width: .8rem;
  height: 100%;
  position: relative;
}
#main .category-left li {
  font-size: .14rem;
}
#main .category-right {
  flex: 1;
  position: relative;
}
#main .category-right a {
  display: block;
}
#main .category-right a img {
  width: 100%;
  height: .9rem;
}
#main .category-right a p {
  text-align: center;
  margin-bottom: 0;
  line-height: .2rem;
}
